In [1]:
import csv
from bs4 import BeautifulSoup

In [2]:
from selenium import webdriver

In [3]:
from webdriver_manager.firefox import GeckoDriverManager
driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())

====== WebDriver manager ======
Current firefox version is 89.0.2
Get LATEST driver version for 89.0.2
Driver [/home/soham/.wdm/drivers/geckodriver/linux64/v0.29.1/geckodriver] found in cache

In [4]:
#def get_url(component):
#    base_url='https://www.amazon.in/s?k={}&ref=nb_sb_noss_2'
#    comp_url=base_url.format(component.replace(' ','+'))
#    return comp_url

In [5]:
#final_url=get_url('headphones')

In [17]:
final_url='https://www.cars24.com/buy-used-cars-kolkata/'

In [18]:
driver.get(final_url)

# Extract collection

In [19]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [20]:
results=soup.find_all('div', {'class': '_36IGc'})

In [21]:
len(results)

36

In [22]:
for i in range (0,1):
    item=results[i]
    
    description=item.h2.text
    title=description[5:]
    year=description.split()[0]
    
    price=item.h3.text[2:]
    
    kilometers=item.find('span').text[:-2]
    
    fuel_type=item.find('span',{'itemprop':'name'}).text
    
    owner=item.find_all('span')[3].text[:3]
    
print(title,year,kilometers,fuel_type,owner,price)

Maruti S PRESSO VXI PLUS 2020 8,920 Petrol 1st 4,14,899

In [23]:
def exctract(item):

    description=item.h2.text
    title=description[5:]
    year=description.split()[0]
    
    price=item.h3.text[2:]
    
    kilometers=item.find('span').text[:-2]
    
    fuel_type=item.find('span',{'itemprop':'name'}).text
    
    owner=item.find_all('span')[3].text[:3]
    
    result=(title,year,kilometers,fuel_type,owner,price)
    
    return result

In [24]:
records=[]
for i in range(0,len(results)):
    info=results[i]
    record=exctract(info)
    records.append(record)

In [25]:
records[0]

('Maruti S PRESSO VXI PLUS', '2020', '8,920', 'Petrol', '1st', '4,14,899')

In [26]:
with open('results_kolkata.csv','w',newline='',encoding='utf-8') as f:
    writer=csv.writer(f)
    writer.writerow(['Name','Year','Kilometers_Driven','Fuel_Type','Owner_Type','Price in Lakhs'])
    writer.writerows(records)

In [ ]:
pd.read_csv('results_Mumbai.csv')

In [ ]:
pd.read_csv('results_Pune.csv')

In [ ]:
pd.read_csv('results_Delhi.csv')

In [ ]:
pd.read_csv('results_Chennai.csv')

In [ ]:
pd.read_csv('results_Bengaluru.csv')

In [ ]:
pd.read_csv('results_Hyderabad.csv')

In [ ]:
pd.read_csv('results_Chandigarh.csv')

In [ ]:
pd.read_csv('results_Jaipur.csv')

In [16]:
pd.read_csv('results_Ahemdabad.csv')

,Name,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Price in Lakhs
0,Maruti Alto LXI,2020,"2,016",Petrol,1st,"3,31,499"
1,Maruti Wagon R 1.0 LXI,2014,"34,395",Petrol,2nd,"3,11,499"
2,Maruti Swift LXI,2019,"8,372",Petrol,1st,"5,38,199"
3,Hyundai Elite i20 ASTA 1.2,2015,"23,973",Petrol,1st,"5,48,099"
4,Maruti Alto LXI,2020,"3,772",Petrol,1st,"3,94,999"
...,...,...,...,...,...,...
299,Honda City SV MT PETROL,2019,"19,078",Petrol,1st,"7,90,699"
300,Maruti Alto LXI,2011,"76,783",Petrol,2nd,"1,60,899"
301,Honda Jazz 1.2 V AT,2015,"61,105",Petrol,1st,"5,15,799"
302,Maruti Baleno ALPHA DDIS 190,2017,"51,536",Diesel,1st,"5,39,599"
303,Honda Brio 1.2 S MT I VTEC,2015,"70,606",Petrol,1st,"3,12,499"

In [27]:
pd.read_csv('results_Kolkata.csv')

,Name,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Price in Lakhs
0,Maruti S PRESSO VXI PLUS,2020,"8,920",Petrol,1st,"4,14,899"
1,Maruti Swift ZXI,2017,"18,140",Petrol,1st,"4,57,699"
2,Honda Amaze 1.2 SMT I VTEC,2014,"36,166",Petrol,1st,"3,16,499"
3,Maruti Wagon R Stingray VXI,2013,"22,008",Petrol,1st,"3,13,199"
4,Hyundai Xcent S 1.2,2015,"17,573",Petrol,1st,"3,53,599"
5,Hyundai Eon MAGNA,2011,"53,972",Petrol,1st,"1,98,999"
6,Maruti Wagon R Stingray VXI,2014,"25,852",Petrol,1st,"3,17,299"
7,Honda City S MT PETROL,2010,"49,746",Petrol,1st,"2,27,199"
8,Maruti Alto 800 LXI,2018,"3,697",Petrol,1st,"2,94,899"
9,Maruti Alto VXI,2019,"1,306",Petrol,1st,"3,64,999"
10,Maruti Alto VXI,2019,"2,000",Petrol,1st,"3,63,599"
11,Hyundai Elite i20 Magna Executive 1.2,2017,"20,647",Petrol,1st,"4,82,599"
12,Hyundai Eon D LITE PLUS,2014,"62,278",Petrol,1st,"2,31,399"
13,Hyundai Grand i10 MAGNA 1.1 CRDI,2016,"56,779",Diesel,1st,"3,61,799"
14,Maruti Vitara Brezza VDI,2019,"18,189",Diesel,2nd,"7,37,799"
15,Maruti Swift VXI OPT,2017,"43,860",Petrol,1st,"4,06,499"
16,Hyundai i10 MAGNA 1.2 KAPPA2,2011,"83,862",Petrol,1st,"1,98,599"
17,Maruti Alto K10 VXI,2018,"43,650",Petrol,1st,"3,27,199"
18,Maruti Swift VXI,2013,"78,261",Petrol,1st,"3,00,599"
19,Hyundai Elite i20 SPORTZ 1.2,2017,"52,065",Petrol,2nd,"4,89,099"
20,Maruti Vitara Brezza ZDI PLUS DUAL TONE,2016,"54,938",Diesel,1st,"7,02,099"
21,Hyundai Grand i10 MAGNA 1.2 VTVT,2015,"9,690",Petrol,1st,"3,83,999"
22,Volkswagen Polo COMFORTLINE 1.2L PETROL,2016,"12,967",Petrol,1st,"4,44,799"
23,Maruti Alto 800 LXI,2017,"11,705",Petrol,1st,"2,59,499"
24,Maruti Wagon R 1.0 VXI,2010,"27,498",Petrol,1st,"2,13,699"
25,Maruti Alto 800 LXI,2016,"17,604",Petrol,3rd,"2,42,599"
26,Hyundai Grand i10 SPORTS 1.2 VTVT,2015,"32,515",Petrol,1st,"3,73,099"
27,Hyundai Eon D LITE PLUS,2013,"49,336",Petrol,1st,"1,93,099"
28,Hyundai Elite i20 ASTA 1.2,2017,"16,495",Petrol,1st,"5,43,899"
29,Hyundai i20 SPORTZ 1.4 CRDI,2013,"60,553",Diesel,2nd,"3,02,699"
30,Hyundai i20 MAGNA O 1.2,2012,"58,634",Petrol,1st,"2,73,299"
31,Hyundai i10 MAGNA 1.2 KAPPA2,2011,"74,680",Petrol,1st,"2,03,299"
32,Hyundai Verna 1.6 SX VTVT (O),2017,"10,263",Petrol,1st,"8,14,399"
33,Maruti Baleno DELTA 1.2 K12,2018,"43,678",Petrol,1st,"5,45,399"
34,Honda Jazz 1.2 V AT,2016,"84,655",Petrol,1st,"5,26,299"
35,Honda BR-V 1.5 i- DTEC V,2017,"59,438",Diesel,1st,"5,86,199"